*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100vh;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    color: black;
}
body{
  width: 100%;
  height: 100%;
  background: radial-gradient(
        circle farthest-side at 0% 50%,
        #282828 23.5%,
        rgba(255, 170, 0, 0) 0
      )
      21px 30px,
    radial-gradient(
        circle farthest-side at 0% 50%,
        #2c3539 24%,
        rgba(240, 166, 17, 0) 0
      )
      19px 30px,
    linear-gradient(
        #282828 14%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 85%,
        #282828 0
      )
      0 0,
    linear-gradient(
        150deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(
        30deg,
        #282828 24%,
        #2c3539 0,
        #2c3539 26%,
        rgba(240, 166, 17, 0) 0,
        rgba(240, 166, 17, 0) 74%,
        #2c3539 0,
        #2c3539 76%,
        #282828 0
      )
      0 0,
    linear-gradient(90deg, #2c3539 2%, #282828 0, #282828 98%, #2c3539 0%) 0 0
      #282828;
  background-size: 40px 60px;
  color: white;
}
header{
    color: rgb(255, 255, 255);
    background-color: transparent;
    height: 10vh;
    width: 100vw;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
header nav{
    display: flex;
    justify-content:flex-end;
    /* flex-wrap: wrap; */
    align-items: center;
    padding: 20px;
    overflow: hidden;
}
header nav ul a{
    padding: 8px 14px;
}
#navig a{
    font-weight: bolder;
    margin: 0px 50px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    border-radius: 15px;
}
#navig a.active{
    background-color: rgb(60, 153, 122);
}
header nav ul a:hover{
    transition:  0.5s ease all;
    font-weight:bold;
    background-color: rgb(60, 153, 122);
}
main{
    min-height: calc(100vh - 10vh - 7vh);
}
.info{
    color: rgb(255, 255, 255);
    margin-top: 3%;
    margin-left: 5%;
    width: 40%;
}
.big{
    color: rgb(255, 255, 255);
    font-size: 2vw;
    /* margin-left: 80px; */
}
.out{
    color: rgb(49, 126, 101);
    /* margin-left: 80px; */
    font-size: 5.2vw;
}
.content{
    font-size: 1.2em;
    position: absolute;
    left: 50%;
    bottom: 75%;
}
#i{
    font-family: Brush Script MT, Brush Script Std, cursive;
    font-size: 2.6vw;
}
#bigcontain
{
    display: flex;
    justify-content: center;
    width: 100%;
}
ul {
    list-style: none;
  }
  
  .example-2 {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .example-2 .icon-content {
    margin: 0 10px;
    position: relative;
    padding: 0rem 0.1rem;
  }
  .example-2 .icon-content .tooltip {
    position: absolute;
    top: -30%;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    padding: 6px 10px;
    border-radius: 15px;
    opacity: 0;
    visibility: hidden;
    font-size: 14px;
    transition: all 0.3s ease;
  }
  .example-2 .icon-content:hover .tooltip {
    opacity: 1;
    visibility: visible;
    top: -50px;
  }
  .example-2 .icon-content a {
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    color: #4d4d4d;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover {
    box-shadow: 3px 2px 45px 0px rgb(0 0 0 / 12%);
  }
  .example-2 .icon-content a svg {
    position: relative;
    z-index: 1;
    width: 25px;
    height: 25px;
  }
  .example-2 .icon-content a:hover {
    color: white;
  }
  .example-2 .icon-content a .filled {
    position: absolute;
    top: auto;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #000;
    transition: all 0.3s ease-in-out;
  }
  .example-2 .icon-content a:hover .filled {
    height: 100%;
  }
  
  .example-2 .icon-content a[data-social="linkedin"] .filled,
  .example-2 .icon-content a[data-social="linkedin"] ~ .tooltip {
    background-color: #0274b3;
  }
  
  .example-2 .icon-content a[data-social="github"] .filled,
  .example-2 .icon-content a[data-social="github"] ~ .tooltip {
    background-color: #24262a;
  }
  .example-2 .icon-content a[data-social="instagram"] .filled,
  .example-2 .icon-content a[data-social="instagram"] ~ .tooltip {
    background: linear-gradient(
      45deg,
      #405de6,
      #5b51db,
      #b33ab4,
      #c135b4,
      #e1306c,
      #fd1f1f
    );
  }
  .example-2 .icon-content a[data-social="youtube"] .filled,
  .example-2 .icon-content a[data-social="youtube"] ~ .tooltip {
    background-color: #ff0000;
  }
.container
{
    width: 250px;
}
#donttouchit
{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px;
}
#para
{
    display: flex;
    justify-content: center;
    width: 75%;
    font-size: 25px;
    margin-top: 3%;
}
#para p
{
  color: white;
  margin: 0px 0px 20px 30px ;
}
h3{
  color: white;
  font-size: 18px;
}
.container
{
  display: flex;
  justify-content: center;
}
.card {
  width: 230px;
  height: 130px;
  border-radius: 30px;
  background: rgba(128, 128, 128, 0.19);
  box-shadow: 8px 8px 23px rgba(90, 90, 90, 0.468),
  -8px -8px 23px rgba(90, 90, 90, 0.471);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.b1 {
  padding: 0.1em 0.25em;
  width: 13em;
  height: 4.2em;
  background-color: rgba(49, 126, 102, 0.219);
  border: 0.08em solid #fff;
  border-radius: 0.3em;
  font-size: 12px;
  cursor: pointer;
  margin: 8px 5px;
}

.b2 {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0.4em;
  width: 8.15em;
  height: 2.5em;
  background-color: #21212100;
  border-radius: 0.2em;
  font-size: 1.5em;
  color: #fff;
  border: 0.08em solid #fff;
  box-shadow: 0 0.4em 0.1em 0.019em #fff;
}

.b2:hover {
  transition: all 0.5s;
  transform: translate(0, 0.4em);
  box-shadow: 0 0 0 0 #fff;
}

.b2:not(hover) {
  transition: all 1s;
}
.space{
  height: 150px;
  width: 100%;
}
.butt
{
  margin: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-grow: 3;
}
footer{
    width: 100%;
    height: 7vh;
    font-weight: bolder;
    font-style: italic;
    color: rgb(255, 255, 255);
    background-color: rgb(44, 42, 42);
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid transparent;
}
