
@media screen and (max-width: 695px) {
   header {
       display: inline-block;
   }

   #navig {
       display: inline-block;
   }

   #navig a {
      margin: 0% 15px;
      display: inline-block;
      font-size: small;
   }
   header nav{
      display: flex;
      justify-content: center;
   }
   body{
      margin: 0px;
      padding: 0px;
      font-size: 0.8rem;
   }
   .big {
      font-size: 0.9rem;
      margin-left: 30px;
   }
   #i{
      font-size: 1.3rem;
   }
   .out{
      font-size: 2.5rem;
      margin-left: 30px;
   } 
   .container
   {
      width: 13em;
      height: 13em;
      border: 0px solid transparent;
      border-radius: 30px;
      box-shadow: 0px 10px 10px 10px rgb(232, 228, 228);
   }
   .profile img:hover{
      transition:  0.5s ease-in-out ;
      width: 6em;
      height: 6em;
      padding: 40px;
      border: 0px solid transparent;
      border-radius: 50%;
   }
   #bigcontain{
      display: flex;
      justify-content: space-evenly;
      /* align-items: center; */
   }
   .info{
      margin-top: 20px;
   }
   .profile{
      height: 8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      border: 0px solid transparent;
      border-radius: 20px 20px 0px 0px;
  }
  .profile img
  {
      width: 5em;
      height: 5em;
      padding: 40px;
      border: 0px solid transparent;
      border-radius: 50%;
  }
   .links{
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(19, 124, 125);
      border: 0px solid transparent;
      border-radius:  0px 0px 20px 20px;
  }
  .links a
  {
   padding: 0 1em;
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 1.5em;
   }
   section{
      height: 30vh;
   }
   #para
   {
      display: inline;
      font-size: 20px;
   }
   #para p{
      margin: 20px ;
   }
}
@media screen and (max-width: 1230px)
{
   #para
   {
      display: inline;
      font-size: 20px;
   }
   #para p{
      margin: 20px ;
   }
}
@media screen and (max-width: 420px)
{
   header {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }
  #navig {
      display: flex;
      flex-direction: row;
      align-items: center;
      
  }
  #navig a {
      margin: 0px 10px;
      font-size: 10px;
      padding: 6px 9px;
  }
  #bigcontain{
   margin: 0px;
   display:flex ;
   justify-content: space-between;
  }
  .container
   {
      width: 10em;
      height: 13em;
      border: 0px solid transparent;
      border-radius: 30px;
      box-shadow: 0px 10px 10px 10px rgb(232, 228, 228);
   }
   .profile img:hover{
      transition:  0.5s ease-in-out ;
      width: 6em;
      height: 6em;
      padding: 40px;
      border: 0px solid transparent;
      border-radius: 50%;
   }
   #bigcontain{
      display: flex;
      justify-content: space-evenly;
      /* align-items: center; */
   }
   .info{
      margin-top: 20px;
   }
   .profile{
      height: 8em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(255, 255, 255);
      border: 0px solid transparent;
      border-radius: 20px 20px 0px 0px;
  }
  .profile img
  {
      width: 5em;
      height: 5em;
      padding: 40px;
      border: 0px solid transparent;
      border-radius: 50%;
  }
   .links{
      height: 5em;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgb(19, 124, 125);
      border: 0px solid transparent;
      border-radius:  0px 0px 20px 20px;
  }
  .links a
  {
   padding: 0 0.5em;
   text-decoration: none;
   color: rgb(0, 0, 0);
   font-size: 1.5em;
   }
  .big {
   font-size: 0.6rem;
   margin-left: 20px;
}
.out{
   font-size: 2.2rem;
   margin-left: 20px;
} 
footer{
   width: 100vw;
   }  
}
